html {
  --basil-green: #88a308;
  --dark-gray: #333333;
  --light-gray: #e4e1d1;
  --light-green: #f5faef;
  --orange: #f90;
  --light-orange: #ebbd4e;
  --red: #f00;
  --max-width: 840px;
  --radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--basil-green);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beta {
  position: absolute;
  right: 20px;
  background: var(--orange);
  color: white;
  padding: 6px 12px;
  border-radius: var(--radius);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

body {
  padding-top: 80px;
  background-color: var(--light-green);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: var(--dark-gray);
  max-width: var(--max-width);
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--light-gray);
}

nav p {
  margin: 0;
  font-weight: bold;
  color: var(--dark-gray);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: var(--radius);
  background: var(--light-orange);
  color: var(--dark-gray);
  font-weight: bold;
}

nav ul li a:hover {
  background: var(--orange);
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  max-width: 700px;
  margin: 0 auto;
  margin-left: 80px;
}

.content article {
  flex: 1;
  max-width: 50%;
}

article img {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: var(--radius);
}

.content aside {
  flex: 1;
  max-width: 50%;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background: var(--light-gray);
  color: var(--dark-gray);
}

footer a {
  color: var(--orange);
  text-decoration: none;
}

footer a:hover {
  color: var(--red);
}
